.google-map-wrapper {
	position: relative;
	// display: none;
}
.google-map-header {
	font-weight: bolder;
	font-size: 28px;
	position: absolute;
	line-height: 1.1;
	letter-spacing: 1px;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	text-align: center;
	padding: 35px 0;
	&:after {
		content: '';
		width: 110px;
		height: 3px;
		background-color: black;
		position: absolute;
		bottom: 0;
		left: calc(50% - 55px);
	}
}
.google-map {
	width: 100%;
	height: 460px;
}
