* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

body {
  font-family: 'Montserrat', sans-serif; }

.container-x-min {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px; }

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("../font/Montserrat-Medium.ttf"); }

.intro-section {
  padding-top: 170px;
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/intro.png);
  background-color: #e4e4e4;
  background-position: bottom; }
  @media (min-width: 321px) {
    .intro-section {
      padding-top: 250px; } }
  @media (min-width: 767px) {
    .intro-section {
      padding: 27px 75px 0px 75px;
      position: relative;
      background-position: center; } }
  .intro-section:after {
    content: '';
    padding-top: 50%;
    display: block; }

.top-line {
  position: absolute;
  top: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  @media (min-width: 767px) {
    .top-line {
      padding: 0 80px;
      position: static;
      flex-direction: row;
      justify-content: space-around;
      padding: 0; } }

.buy-ticket-wrapper {
  width: 100%;
  padding: 0 10px; }
  @media (min-width: 321px) {
    .buy-ticket-wrapper {
      padding: 20px 10px; } }
  .buy-ticket-wrapper__btn {
    display: block;
    background-color: #f5b633;
    color: #000000;
    font-size: 31px;
    border: none;
    padding: 3px 8px;
    border-radius: 10px;
    width: 100%; }
    @media (min-width: 767px) {
      .buy-ticket-wrapper__btn {
        padding: 3px 8px;
        max-width: 170px;
        margin-left: auto; } }
    @media (min-width: 321px) {
      .buy-ticket-wrapper__btn {
        padding: 8px; } }

.social-icons-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px 0; }
  .social-icons-wrapper__icon-link {
    margin-right: 24px;
    width: 42px;
    height: 42px; }
    .social-icons-wrapper__icon-link span {
      width: 100%;
      height: 100%;
      display: block;
      background-size: cover; }
  .social-icons-wrapper__icon-vk {
    background-image: url(../img/vk.png); }
  .social-icons-wrapper__icon-insta {
    background-image: url(../img/instagram.png); }
  .social-icons-wrapper__icon-fb {
    background-image: url(../img/facebook.png); }

.intro-wrapper-text {
  padding: 10px; }
  @media (min-width: 321px) {
    .intro-wrapper-text {
      padding: 20px 60px 35px 60px; } }
  @media (min-width: 767px) {
    .intro-wrapper-text {
      padding: 20px 150px 35px 150px; } }

.header__text-h {
  font-weight: bold;
  font-size: 26px;
  text-align: center; }

.bold {
  font-weight: bold; }

.text-contant-wrapper__text-p {
  font-size: 21px;
  padding-bottom: 15px;
  padding-top: 15px; }

.bottom-logo {
  display: flex;
  justify-content: center; }
  .bottom-logo__logo {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/mini_logo.png); }

.speakers-wrapper {
  background-color: #f5b633;
  padding: 10px;
  position: relative; }
  @media (min-width: 767px) {
    .speakers-wrapper {
      padding: 70px 150px; } }

.header-speaker {
  text-align: center;
  font-weight: bolder;
  font-size: 42px;
  color: #e4e4e4;
  font-style: italic; }

.wrapper-carusel {
  position: relative;
  margin: 80px 0; }

.prev {
  display: none;
  position: absolute;
  top: calc(50% - 40px);
  left: -50px;
  width: 30px;
  height: 70px;
  background-image: url(../img/right-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e4e4e4; }
  @media (min-width: 767px) {
    .prev {
      display: block; } }
  .prev:hover {
    cursor: pointer; }

.next {
  display: none;
  position: absolute;
  top: calc(50% - 40px);
  right: -50px;
  width: 30px;
  height: 70px;
  background-image: url(../img/left-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e4e4e4; }
  @media (min-width: 767px) {
    .next {
      display: block; } }
  .next:hover {
    cursor: pointer; }

.speaker-container {
  width: 200px;
  height: 200px; }
  .speaker-container__speaker {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../img/speaker.png); }

.owl-theme .owl-controls .owl-page {
  display: inline-block; }

.owl-dots {
  display: flex;
  justify-content: center; }

.owl-dot {
  background-color: black;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px; }

.owl-dot.active {
  background-color: white; }

.owl-item {
  display: flex;
  justify-content: center; }

.pre-footer {
  padding: 0; }
  @media (min-width: 767px) {
    .pre-footer {
      padding: 70px 150px; } }

.pre-footer .header {
  font-weight: bolder;
  font-size: 65px;
  color: #e4abf0;
  text-align: center; }

.sposor-container {
  width: 200px;
  height: 200px; }
  .sposor-container__sponsor {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../img/uku.png); }

.partners-container {
  width: 200px;
  height: 200px; }
  .partners-container__partners {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../img/uku.png); }

.timer-wrapper {
  height: 150px;
  background-color: #f5b633; }
  @media (min-width: 767px) {
    .timer-wrapper {
      height: 550px; } }

.timer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .timer div {
    display: flex; }

.time-box {
  border-radius: none;
  margin: 0;
  display: block;
  width: 30px;
  height: 45px;
  background-color: #3a3a3a;
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1px;
  border-radius: 12px; }
  @media (min-width: 321px) {
    .time-box {
      width: 35px;
      height: 60px;
      font-size: 32px; } }
  @media (min-width: 767px) {
    .time-box {
      width: 68px;
      height: 102px;
      font-size: 75px; } }

#days, #hours, #minutes {
  margin-right: none;
  position: relative; }
  #days:after, #hours:after, #minutes:after {
    content: ':';
    font-size: 24px;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    padding: 0; }
  @media (min-width: 767px) {
    #days, #hours, #minutes {
      margin-right: 10px; }
      #days:after, #hours:after, #minutes:after {
        content: ':';
        display: block;
        font-size: 75px;
        background-color: transparent;
        color: #3a3a3a;
        padding-left: 7px; } }

.google-map-wrapper {
  position: relative; }

.google-map-header {
  font-weight: bolder;
  font-size: 28px;
  position: absolute;
  line-height: 1.1;
  letter-spacing: 1px;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  text-align: center;
  padding: 35px 0; }
  .google-map-header:after {
    content: '';
    width: 110px;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: calc(50% - 55px); }

.google-map {
  width: 100%;
  height: 460px; }

.tickets-wrapper {
  display: flex;
  padding: 30px 0;
  justify-content: center; }
  @media (min-width: 767px) {
    .tickets-wrapper {
      padding: 75px 0; } }

.ticket-box {
  width: 90%;
  max-width: 830px;
  background-color: #e4e4e4;
  display: flex;
  flex-direction: column; }
  @media (min-width: 321px) {
    .ticket-box {
      width: 80%; } }
  @media (min-width: 767px) {
    .ticket-box {
      width: 90%;
      flex-direction: row; } }

.label-side {
  background-color: #e4abf0;
  width: 100%;
  position: relative; }
  @media (min-width: 767px) {
    .label-side {
      width: 86px; }
      .label-side:after {
        content: "";
        width: 10px;
        height: 10px;
        background-color: #fff;
        display: block;
        position: absolute;
        transform: rotate(45deg);
        right: -4px;
        bottom: -5px; }
      .label-side:before {
        content: '';
        width: 10px;
        height: 10px;
        background-color: #fff;
        transform: rotate(45deg);
        display: block;
        position: absolute;
        right: -4px;
        top: -5px; } }

.ticket-label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom: 2px dotted #fff; }
  @media (min-width: 767px) {
    .ticket-label {
      border-right: 2px dotted #fff; } }
  .ticket-label__text {
    color: #fff;
    font-size: 40px;
    display: block;
    letter-spacing: 3px;
    transform: rotate(0deg); }
    @media (min-width: 767px) {
      .ticket-label__text {
        transform: rotate(270deg); } }

.ticket-content {
  width: 100%;
  justify-content: space-between;
  display: flex;
  background-color: #d7d7d7;
  flex-direction: column; }
  @media (min-width: 767px) {
    .ticket-content {
      flex-direction: row; } }
  .ticket-content__ticket {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e4e4e4;
    margin-bottom: 10px; }
    @media (min-width: 767px) {
      .ticket-content__ticket {
        width: 33%;
        margin-bottom: 0; } }
  .ticket-content__ticket-header {
    padding: 20px 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #656565; }
  .ticket-content__req-list {
    flex-grow: 2;
    margin: 10px 45px;
    list-style-type: circle;
    color: #656565; }
  .ticket-content__item {
    line-height: 1.4; }
  .ticket-content__price {
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
    color: #656565;
    font-weight: 600; }
    .ticket-content__price:after {
      color: #656565;
      content: "$";
      margin-left: 4px; }

.footer {
  background-color: #000000;
  padding-bottom: 60px;
  padding-top: 25px; }

.footer-header {
  text-align: center;
  font-weight: bold;
  font-size: 43px;
  color: #fff; }
