.speakers-wrapper {
	background-color: $yellow;
	padding: 10px;
	position: relative;
	@include breakpoint("mobile") {
		padding: 70px 150px;
	}
}

.header-speaker {
	text-align: center;
	font-weight: bolder;
	font-size: 42px;
	color: $grey;
	font-style: italic;
}

.wrapper-carusel{
	position: relative;
	margin: 80px 0;

}
.prev {
	display: none;
	position: absolute;
	top: calc(50% - 40px);	
	left: -50px;
	width: 30px;
	height: 70px;
	background-image: url(../img/right-arrow.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: $grey;
	@include breakpoint("mobile") {
		display: block;
	}
	&:hover {
		cursor: pointer;
	}
}
.next {
	display: none;
	position: absolute;
	top: calc(50% - 40px);
	right: -50px;
	width: 30px;
	height: 70px;
	background-image: url(../img/left-arrow.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: $grey;
	@include breakpoint("mobile") {
		display: block;
	}

	&:hover {
		cursor: pointer;
	}
}

.speaker-container {
	width: 200px;
	height: 200px;

	&__speaker {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-image: url(../img/speaker.png);
	}
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-dots {
	display: flex;
	justify-content: center;
}
.owl-dot {
	background-color: darken($yellow, 80);
	border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
	width: 12px;
	margin-top: 30px;
}
.owl-dot.active {
	background-color: lighten($yellow, 80);
}

.owl-item {
	display: flex;
	justify-content: center;
}