+b.timer-wrapper
	+b.timer
		+b#days
			span.time-box 0
			span.time-box 9
		+b#hours
			span.time-box 2
			span.time-box 3
		+b#minutes
			span.time-box 5
			span.time-box 9
		+b#seconds
			span.time-box 3
			span.time-box 5