extends layout.pug

block content
	include intro/intro
	include intro2/intro2
	include speakers/speakers
	include tickets/tickets
	include timer/timer
	include map/map
	include sponsors_partners/sponsors_partners