.tickets-wrapper {
	display: flex;
	padding: 30px 0;
	justify-content: center;
	@include breakpoint("mobile") {
		padding: 75px 0;
	}
}

.ticket-box {
	width: 90%;
	max-width: 830px;
	background-color: $grey;
	display: flex;
	flex-direction: column;
	@include breakpoint("iphone") {
		width: 80%;
	}
	@include breakpoint("mobile") {
		width: 90%;
		flex-direction: row;
	}
}

.label-side {
	background-color: $pink;
	width: 100%;
	position: relative;
	@include breakpoint("mobile") {
		width: 86px;
		&:after {
			content: "";
			width: 10px;
			height: 10px;
			background-color: #fff;
			display: block;
			position: absolute;
			transform: rotate(45deg);
			right: -4px;
			bottom: -5px;
			
		}
		&:before {
			content: '';
			width: 10px;
			height: 10px;
			background-color: #fff;
			transform: rotate(45deg);
			display: block;
			position: absolute;
			right: -4px;
			top: -5px;
		}
	}
}
.ticket-label {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-bottom: 2px dotted #fff;
	@include breakpoint("mobile") {
		border-right: 2px dotted #fff;
	}
	&__text {
		color: #fff;
		font-size: 40px;
		display: block;
		letter-spacing: 3px;
		transform: rotate(0deg);
		@include breakpoint("mobile") {
			transform: rotate(270deg);
		}
	}
}

.ticket-content {
	width: 100%;
	justify-content: space-between;
	display: flex;
	background-color: darken($grey, 5);
	flex-direction: column;
	@include breakpoint("mobile") {
		flex-direction: row;
	}
	&__ticket {
		width: 100%;
		display: flex;
		flex-direction: column;
		background-color: $grey;
		margin-bottom: 10px;
		@include breakpoint("mobile") {
			width: 33%;
			margin-bottom: 0;
		}
	}

	&__ticket-header {
		padding: 20px 0;
		font-size: 18px;
		font-weight: 600;
		text-align: center;
		color: darken($grey, 50);
	}
	&__req-list {
		flex-grow: 2;
		margin: 10px 45px;
		list-style-type: circle;
		color: darken($grey, 50);
	}
	&__item {
		line-height: 1.4;
	}
	&__price {
		font-size: 30px;
		text-align: center;
		padding: 20px 0;
		color: darken($grey, 50);
		font-weight: 600;
		&:after {
			color: darken($grey, 50);
			content: "$";
			margin-left: 4px;
		}
	}
}