$baseFont: "Tahome", 'sans-sarif';

$orange: #f5b633;
$black: #000000;
$grey: #e4e4e4;
$yellow: #f5b633;
$pink: #e4abf0;
$dark: #3a3a3a;

$btnBg: $orange;
$btnColor: $black;


$breakpoints: (
	'iphone' : (min-width: 321px),
	'mobile' : ( min-width: 767px),
	'small'  : ( min-width:  979px ),
	'large'  : ( min-width: 1200px )
	);

