+b.intro-section
	+b.HEADER.top-line
		+b.social-icons-wrapper
			+e.A.icon-link(href="#")
				+e.icon-vk
			+e.A.icon-link(href="#")
				+e.icon-insta
			+e.A.icon-link(href="#")
				+e.icon-fb
		+b.buy-ticket-wrapper
			+e.BUTTON.btn
				| Buy Ticket
