+b.intro-wrapper-text
	+b.header
		+e.H4.text-h Lviv X-Mind Conference: 
		+e.H4.text-h наука та технології, що визначають майбутнє
		+e.H4.text-h 17-18 лютого 2018 року
	+b.text-contant-wrapper
		+e.P.text-p
			span.bold Головний партнер: 
			span Український Католицький Університет

		+e.P.text-p
			span.bold Локація: 
			span Центр ім. Андрея Шептицького, УКУ

		+e.P.text-p
			span.bold Мета 
			span конференції

		+e.P.text-p
			span Наша 
			span.bold мотивація: 
			span Щодня у світі здійснюються неймовірні відкриття та прориви у сфері сучасних технологій. Ми вже давно додаємо до нашого виміру ще один – віртуальний, використовуємо електротранспорт та штучний інтелект, створюємо Інтернет речей. Українська освіта, хоча й багата на тих, хто є професіоналами своєї справи, але досить часто випускає з своєї уваги стрімкий потік нових наукових знань. Знання трендів потрібне професіоналам своєї справи , які щодня працюють над створенням нових технологій. 
	+b.bottom-logo
		+e.logo